body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

#form{
    width: 5%;
}

.from{
    width: 80%;
    margin: 0 auto;
}

a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover{
    color: rgb(25, 0, 255);
}

p{
    font-size: 14px;
    line-height: 10px;
}

button{
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
    border-radius: 0px;
}

button:hover{
    color: #fff;
    background-color: #000;
}

.cur{
    font-weight: 700;
    margin-left: 35px;
    animation-direction: alternate;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes anim{
    from{
    }
    to{
        transform: translate(0px, 20px);
    }
}